.ingredient-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 15px;
    margin: 10px;
}

.ingredient-image {
    width: 10%
}

.smoothie-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 15px;
    margin: 10px;
}
