.ingredient-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 15px;
    margin: 10px;
}

.ingredient-image {
    width: 10%
}

.smoothie-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 15px;
    margin: 10px;
}

svg {
    width: 50px;
    height: 50px;
}

/* .svg-icon {
    animation: colorRotate 3s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }

} */