
html {
  height: 100%;
}

body {
  background-color: rgb(253, 204, 212);
  background-image: url('./images/smoothie-bg.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
}

.body-wrapper {
  background-color: rgb(255, 242, 242, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.store-name {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

.description {
  background-color: whitesmoke;
  opacity: 70%;
  border-radius: 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

.unchecked {
    background-color: rgb(158, 211, 220);
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 15px;
    margin: 10px;
}

.unchecked:hover {
  background-color: rgb(96, 156, 167);
}

input[type="checkbox"] {
  display: none;
}

.unchecked:checked {
  display: none;
  background-color: rgb(96, 156, 167);

}

input[type="text"], textarea, input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border:rgb(96, 156, 167);
  border-radius: 5px;
}

.checkout-form {
  padding: 20px;
  border-radius: 5px;
  background-color:rgb(158, 211, 220);
}

.container-image {
  position: relative;
  height: 750px;
  width: 550px;

}

.cup {
  height: 100%; 
  width: 100%
}

.ings {
  position: absolute;
  top: 260px;
  left: 250px; 
  padding: 5px;
}

/* .checked {
  background-color: rgb(96, 156, 167);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 15px;
  margin: 10px;
} */

.ingredient-name, .ingredient-price {
  margin: 5px;
  width: auto;
}

.ingredient-price {
  color: grey;
}

.info-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.ingredient-image {
  width: 10%;
  height: auto;
  vertical-align: middle;
}

.current-ingredient-image {
  width: 19%;
  padding: 2px;

}

.cart-list {
  display: flex;
  flex-flow: row wrap;
}

.cart-image {
  width: 5%;
  height: auto;
  vertical-align: middle;
  margin: 2px;
}

.smoothie-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 15px;
    margin: 10px;
}

svg {
    width: 50px;
    height: 50px;
}

.nav-bar-edit {
  padding: 20px;
}

.line {
  color: rgb(250, 217, 133);
}

.nav-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6666ff;
}

.cart-item, .x-button {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.x-button {
  padding-left: 5px;
  padding-right: 8px;
}

.cart-list {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color:rgb(250, 245, 240)
}

.nav-bar-edit {
  border-radius: 20px;
}